<mt:if name="fj_reldate_blog">
<mtapp:setting
  id="reldate_ischeck"
  label="<__trans phrase="Auto update publish date of entry when entry is published">">
    <input type="checkbox" name="reldate_ischeck" id="reldate_ischeck" value="1"<mt:if name="reldate_ischeck"> checked="checked"</mt:if> />
</mtapp:setting>
</mt:if>

<mtapp:setting
  id="reldate_ischeck_page"
  label="<__trans phrase="Auto update publish date of page when page is published">">
    <input type="checkbox" name="reldate_ischeck_page" id="reldate_ischeck_page" value="1"<mt:if name="reldate_ischeck_page"> checked="checked"</mt:if> />
</mtapp:setting>
